/* 常规格式------------------------------------- */
/* 视频颜色 */
.vedio {
    background-color: rgb(226, 234, 255) !important; 
}

/* 音频颜色 */
.audio {
    background-color: rgb(233, 255, 246) !important;
}

/* 视频颜色 */
.picture {
    background-color: rgb(251, 255, 226) !important;
}

/* 表格选中当前行时展示颜色 */
.current-row>td{
    background-color: rgb(0, 191, 191) !important;
}
/* ------------------------------------------- */

/*窗口*/
body {
    margin: 0%;
    background-color: white;
}

/*app 根元素*/
#app {
    width: 99vw;
    height: 99vh;
    border: solid 1px rgb(187, 187, 187);
}

/*app 组件内容区*/
#vt {
    width: 100%;
    height: 100%;
}

/*页面头部*/
.vt-header {
    width: 100%;
    height: 10vh;
}

/*页面头部-卡片*/
.vt-header-card {
    width: 100%;
    height: 8vh;
    border-radius: 10px;
}

/*页面头部-卡片-内容区*/
.vt-header-card .el-card__body {
    padding: 0%;
    height: 100%;
}

/*页面头部-卡片-logo*/
.vt-header-card-logo {
    width: auto;
    height: 100%;
    float: left;
}

/*页面头部-卡片-项目标题*/
.vt-header-card-title {
    float: left;
    font-size: 4vh;
    margin: 1vh 0% 0vh 40%;
}

/*页面内容区*/
.vt-main {
    width: 100%;
    height: 89vh;
}

/*页面内容区-导航栏*/
.vt-main-nav {
    width: 100%;
    height: 100%;
}

/*页面内容区-导航栏-左侧*/
.vt-main-nav>.el-tabs__header.is-left {
    width: 9%;
    border-bottom-width: 0px;
    margin-right: 0%;
    padding-right: 1%;
}

/*页面内容区-导航栏-左侧-菜单文字*/
.vt-main-nav>.el-tabs__header.is-left .el-tabs__item {
    padding: 0%;
}

/*页面内容区-导航栏-右侧*/
.vt-main-nav>.el-tabs__content {
    width: 90%;
    height: 100%;
}

/*页面内容区-导航栏-右侧-组件根元素*/
.vt-main-nav>.el-tabs__content>[role=tabpanel],
.vt-main-nav>.el-tabs__content>[role=tabpanel]>div {
    width: 100%;
    height: 100%;
}

/*页面内容区-素材文件-列表区*/
.vt-main-metfile-list {
    width: 40%;
    height: 50vh;
    float: left;
}

/*页面内容区-素材文件-列表区-卡片*/
.vt-main-metfile-list>.el-card {
    height: 100%;
}

/*页面内容区-素材文件-列表区-卡片-卡片头*/
.vt-main-metfile-list>.el-card>.el-card__header {
    height: 6vh;
    padding: 1vh 2% 0vh 2%;
    overflow: hidden;
}

/*页面内容区-素材文件-列表区-卡片-卡片头-下拉框*/
.vt-main-metfile-list-header-menu {
    float: left;
    width: 50%;
}

/*页面内容区-素材文件-列表区-卡片-卡片头-编辑*/
.vt-main-metfile-list-header-edit.is-circle {
    width: 28px;
    height: 28px;
    float: right;
    padding: 0%;
}

/*页面内容区-素材文件-列表区-卡片-卡片头-编辑-对话框遮罩*/
.vt_main_metfile_list_header_edit_dialog {
    width: 100%;
    height: 100%;
}

/*页面内容区-素材文件-列表区-卡片-卡片头-编辑-对话框遮罩-面板*/
.vt_main_metfile_list_header_edit_dialog>div {
    width: 80%;
    height: 80vh;
    margin-bottom: 5vh;
    margin-left: 10%;
}

/*页面内容区-素材文件-列表区-卡片-卡片头-编辑-对话框遮罩-面板-头部*/
.vt_main_metfile_list_header_edit_dialog>div>.el-dialog__header {
    padding: 1vh 2% 0vh 2%;
    height: 4vh;
}

/*页面内容区-素材文件-列表区-卡片-卡片头-编辑-对话框遮罩-面板-头部-关闭按钮*/
.vt_main_metfile_list_header_edit_dialog>div>.el-dialog__header>button {
    position: relative;
    float: right;

    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

/*页面内容区-素材文件-列表区-卡片-卡片头-编辑-对话框遮罩-面板-中部*/
.vt_main_metfile_list_header_edit_dialog>div>.el-dialog__body {
    padding: 1vh 2% 0vh 2%;
    height: 65vh;
}

/*页面内容区-素材文件-列表区-卡片-卡片头-编辑-对话框遮罩-面板-中部-sql区域*/
.vt_main_metfile_list_header_edit_dialog>div>.el-dialog__body textarea {
    height: 65vh;

}

/*页面内容区-素材文件-列表区-卡片-卡片头-编辑-对话框遮罩-面板-底部*/
.vt_main_metfile_list_header_edit_dialog>div>.el-dialog__footer {
    padding: 1vh 2% 1vh 2%;
    height: 8vh;
}

/*页面内容区-素材文件-列表区-卡片-卡片头-编辑-对话框遮罩-面板-底部-按钮*/
.vt_main_metfile_list_header_edit_dialog>div>.el-dialog__footer>.dialog-footer>button {
    padding: 0%;
    height: 100%;
    width: 10%;
    overflow: hidden;
}

/*页面内容区-素材文件-列表区-卡片-卡片body*/
.vt-main-metfile-list>.el-card>.el-card__body {
    height: 42vh;
    padding: 1vh 2% 0vh 2%;
}

/*页面内容区-素材文件-列表区-卡片-卡片body-表头*/
.vt-main-metfile-list>.el-card>.el-card__body .el-table__header {
    width: 100% !important;
}

/*页面内容区-素材文件-列表区-卡片-卡片body-表body*/
.vt-main-metfile-list>.el-card>.el-card__body .el-table__body {
    width: 100% !important;
}

/*页面内容区-素材文件-列表区-卡片-卡片body-表头表body-列宽*/
.vt-main-metfile-list>.el-card>.el-card__body colgroup>col {
    width: auto !important;
}

/*页面内容区-素材文件-预览区*/
.vt-main-metfile-preview {
    width: 60%;
    height: 50vh;
    float: left;
}

/*页面内容区-素材文件-预览区-卡片*/
.vt-main-metfile-preview>.el-card {
    height: 100%;
}

/*页面内容区-素材文件-预览区-卡片-卡片body*/
.vt-main-metfile-preview>.el-card>.el-card__body {
    height: 49vh;
    padding: 1vh 2% 0vh 2%;
}

/*页面内容区-素材文件-预览区-卡片-音频区*/
.vt_main_metfile_preview_audio>wave {
    height: 30vh !important;
    width: 100% !important;
    overflow: hidden !important;
}

/*页面内容区-素材文件-预览区-卡片-音频slider*/
.vt_main_metfile_preview_audio_slider {
    height: 1vh;
    width: 100%;
    cursor: pointer;
    background-color: #E4E7ED;
    border-radius: 3px;
}

/*页面内容区-素材文件-预览区-卡片-音频slider-滑块*/
.vt_main_metfile_preview_audio_slider>.vt_bar {
    height: 2vh;
    width: 1%;
    cursor: pointer;
    background-color: #ffffff;
    border:2px solid aqua;
    border-radius: 40% 40%;
    margin-left: -0.5%;
    top:-0.5vh;
    position:relative;
}

/*页面内容区-素材文件-信息区*/
.vt-main-metfile-info {
    width: 40%;
    height: 38vh;
    float: left;
}

/*页面内容区-素材文件-信息区-卡片*/
.vt-main-metfile-info>.el-card {
    height: 100%;
}

/*页面内容区-素材文件-素材区*/
.vt-main-metfile-met {
    width: 60%;
    height: 38vh;
    float: left;
}

/*页面内容区-素材文件-素材区-卡片*/
.vt-main-metfile-met>.el-card {
    height: 100%;
}

/*页面内容区-设置-根卡片*/
.vt-main-setting-card {
    height: 88vh;
}

/*页面内容区-设置-根卡片-内容区*/
.vt-main-setting-card>.el-card__body {
    padding-top: 0%;
    padding-bottom: 0%;
    height: 100%;
    overflow-y: scroll;
}

/*页面内容区-设置-根卡片-内容区-分割线*/
.vt-main-setting-card>.el-card__body>.el-divider--horizontal {
    margin: 2vh 0%;
}

/*页面内容区-设置-根卡片-内容区-行*/
.vt-main-setting-card>.el-card__body>.setting_singleRow {
    height: 4vh;
}

/*页面内容区-设置-根卡片-内容区-行-按钮*/
.vt-main-setting-card>.el-card__body>.setting_singleRow>button {
    padding: 0%;
    width: 10%;
    overflow: hidden;
}

/*页面内容区-设置-根卡片-内容区-行-所有一级元素*/
.vt-main-setting-card>.el-card__body>.setting_singleRow>* {
    height: 100%;
}