/* 常规格式------------------------------------- */
/* 表格选中当前行时展示颜色 */
.current-row>td{
    background-color: #d4d4d4 !important;
}
/* ------------------------------------------- */

/*窗口*/
body {
    margin: 0%;
    background-color: white;
}

/*app 根元素*/
#app {
    width: 99vw;
    height: 99vh;
    border: solid 1px rgb(187, 187, 187);
}

/*app 组件内容区*/
#vt {
    width: 100%;
    height: 100%;
}

/*页面头部*/
#vt_header {
    width: 100%;
    height: 10vh;
}

/*页面头部-卡片*/
#vt_header>.el-card {
    width: 100%;
    height: 8vh;
    border-radius: 10px;
}

/*页面头部-卡片-内容区*/
#vt_header>.el-card .el-card__body {
    padding: 0%;
    height: 100%;
}

/*页面头部-卡片-logo*/
#vt_header>.el-card .el-card__body > :nth-child(1){
    width: auto;
    height: 100%;
    float: left;
}

/*页面头部-卡片-项目标题*/
#vt_header>.el-card .el-card__body > :nth-child(2) {
    float: left;
    font-size: 4vh;
    margin: 1vh 0% 0vh 40%;
}

/*页面头部-卡片-按钮*/
#vt_header>.el-card .el-card__body > button {
    width: 28px;
    height: 28px;
    float: right;
    padding: 0%;

    margin-top: 1vh;
    margin-right: 1%;
}

/*页面内容区*/
#vtMain {
    width: 100%;
    height: 89vh;
}

/*页面内容区-素材文件区*/
#matFile  {
    width: 40%;
    height: 50vh;
    float: left;
}

/*页面内容区-素材文件区-卡片*/
#matFile>.el-card {
    height: 100%;
}

/*页面内容区-素材文件区-卡片-卡片头*/
#matFile>.el-card>.el-card__header {
    height: 6vh;
    padding: 1vh 2% 0vh 2%;
    overflow: hidden;
}

/*页面内容区-素材文件区-卡片-卡片头-下拉框*/
#matFile>.el-card>.el-card__header *[title=sql筛选下拉框]{
    float: left;
    width: 50%;
}

/*页面内容区-素材文件区-卡片-卡片头-编辑*/
#matFile>.el-card>.el-card__header *[title=sql编辑按钮] {
    width: 28px;
    height: 28px;
    float: right;
    padding: 0%;
}

/*页面内容区-素材文件区-卡片-卡片头-编辑-对话框遮罩*/
#matFile>.el-card>.el-card__header .el-dialog__wrapper{
    width: 100%;
    height: 100%;
}

/*页面内容区-素材文件区-卡片-卡片头-编辑-对话框遮罩-面板*/
#matFile>.el-card>.el-card__header .el-dialog__wrapper>div {
    width: 80%;
    height: 80vh;
    margin-bottom: 5vh;
    margin-left: 10%;
}

/*页面内容区-素材文件区-卡片-卡片头-编辑-对话框遮罩-面板-头部*/
#matFile>.el-card>.el-card__header .el-dialog__wrapper>div>.el-dialog__header {
    padding: 0vh 2% 0vh 2%;
    height: 4vh;
}

/*页面内容区-素材文件区-卡片-卡片头-编辑-对话框遮罩-面板-头部-关闭按钮*/
#matFile>.el-card>.el-card__header .el-dialog__wrapper>div>.el-dialog__header>button {
    position: relative;
    float: right;

    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

/*页面内容区-素材文件区-卡片-卡片头-编辑-对话框遮罩-面板-中部*/
#matFile>.el-card>.el-card__header .el-dialog__wrapper>div>.el-dialog__body {
    padding: 1vh 2% 0vh 2%;
    height: 65vh;
}

/*页面内容区-素材文件区-卡片-卡片头-编辑-对话框遮罩-面板-中部-sql区域*/
#matFile>.el-card>.el-card__header .el-dialog__wrapper>div>.el-dialog__body textarea {
    height: 65vh;
}

/*页面内容区-素材文件区-卡片-卡片头-编辑-对话框遮罩-面板-底部*/
#matFile>.el-card>.el-card__header .el-dialog__wrapper>div>.el-dialog__footer {
    padding: 1vh 2% 1vh 2%;
    height: 8vh;
}

/*页面内容区-素材文件区-卡片-卡片头-编辑-对话框遮罩-面板-底部-按钮*/
#matFile>.el-card>.el-card__header .el-dialog__wrapper>div>.el-dialog__footer>span>button {
    padding: 0%;
    height: 100%;
    width: 10%;
    overflow: hidden;
}

/*页面内容区-素材文件区-卡片-卡片body*/
#matFile>.el-card>.el-card__body {
    height: 42vh;
    padding: 1vh 2% 0vh 2%;
}

/*页面内容区-素材文件区-卡片-卡片body--空表数据页*/
#matFile>.el-card>.el-card__body .el-table__empty-block{
    width: 100% !important;
}

/*页面内容区-素材文件区-卡片-卡片body-表*/
#matFile>.el-card>.el-card__body table {
    width: 100% !important;
}

/*页面内容区-素材文件区-卡片-卡片body-表-列和单元格*/
#matFile>.el-card>.el-card__body table th, #matFile>.el-card>.el-card__body table td, #matFile>.el-card>.el-card__body table .cell{
    padding: 0%;
}

/*页面内容区-素材文件区-卡片-卡片body-表body-右键菜单*/
#matFile>.el-card #matFileRClickMenu{
    width:10%;
    height:32vh;
    position:fixed;
}


/*页面内容区-素材文件区-卡片-卡片body-表body-右键菜单-body*/
#matFile>.el-card #matFileRClickMenu>.el-card__body{
    padding:1vh 1% 1vh 1%;
}

/*页面内容区-素材文件区-卡片-卡片body-表body-右键菜单-body-选项*/
#matFile>.el-card #matFileRClickMenu>.el-card__body>button{
    display: block;
    width: 100%;
    height: 10vh;
    margin-left: 0%;
    padding:0%;
}

/*页面内容区-素材文件区-卡片-卡片body-表body-右键菜单-重命名面板*/
#matFile>.el-card #matFileRename{
    width:30%;
    height:20vh;
    position:fixed;
}

/*页面内容区-素材文件区-卡片-卡片body-表body-右键菜单-重命名面板-body*/
#matFile>.el-card #matFileRename>.el-card__body{
    padding:1vh 1% 1vh 1%;
}

/*页面内容区-素材文件区-卡片-卡片body-表body-右键菜单-重命名面板-body-输入框*/
#matFile>.el-card #matFileRename>.el-card__body input{
    height:10vh;
}

/*页面内容区-素材文件区-卡片-卡片body-表body-右键菜单-重命名面板-body-按钮*/
#matFile>.el-card #matFileRename>.el-card__body>button{
    margin:0%;
    padding:0%;
    width:30%;
    height:8vh;
    float:right
}

/*页面内容区-素材文件区-卡片-卡片body-表body-右键菜单-标签管理面板*/
#matFile>.el-card #matFileManageTags{
    height:30vh;
    width:50%;
    position:fixed;
}

/*页面内容区-素材文件区-卡片-卡片body-表body-右键菜单-标签管理面板-编辑*/
#matFile>.el-card #matFileManageTags .matFileManageTagEdic{
    width:100%;
    height: 23vh;
    overflow-y: scroll;
    overflow-x: visible;
}

/*页面内容区-素材文件区-卡片-卡片body-表body-右键菜单-标签管理面板-body*/
#matFile>.el-card #matFileManageTags>.el-card__body{
    padding:1vh 1% 1vh 1%;
}

/*页面内容区-素材文件区-卡片-卡片body-表body-右键菜单-标签管理面板-body-按钮*/
#matFile>.el-card #matFileManageTags>.el-card__body>.matFileManageTag{
    margin:0%;
    padding:0%;
    width:20%;
    height:5vh;
    float:right;

    
}

/*页面内容区-预览区*/
#pre {
    width: 60%;
    height: 50vh;
    float: left;
}

/*页面内容区-预览区-卡片*/
#pre>.el-card {
    height: 100%;
}

/*页面内容区-预览区-卡片-卡片body*/
#pre>.el-card>.el-card__body {
    height: 49vh;
    padding: 1vh 2% 1vh 2%;
}

/*页面内容区-预览区-卡片-卡片body-up*/
#pre>.el-card>.el-card__body .vtUp {
    height: 5vh;
    width: 100%;
    overflow: hidden;
}

/*页面内容区-预览区-卡片-卡片body-up-输入框*/
#pre>.el-card>.el-card__body .vtUp>.el-input {
    padding: 0% !important;
    width:10%;
}

/*页面内容区-预览区-卡片-卡片body-up-下拉输入框*/
#pre>.el-card>.el-card__body .vtUp input {
    padding: 0% !important;
}

/*页面内容区-预览区-卡片-卡片body-up-button*/
#pre>.el-card>.el-card__body .vtUp button {
    height: 5vh;
    width:10%;
    padding: 0%;
    overflow: hidden;
    float: right;
}

/*页面内容区-预览区-卡片-卡片body-down*/
#pre>.el-card>.el-card__body .vtDown {
    height: 42vh;
    width: 100%;
}

/*页面内容区-预览区-卡片-卡片body-left*/
#pre>.el-card>.el-card__body .vtLeft {
    height: 42vh;
    width: 60%;
    float:left;
}

/*页面内容区-预览区-卡片-卡片body-left-按钮*/
#pre>.el-card>.el-card__body .vtLeft button {
    height: 4vh;
    width:4vh;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

/*页面内容区-预览区-卡片-卡片body-left-视频*/
#pre>.el-card>.el-card__body .vtLeft video {
    height: 32vh;
    width:100%;
}

/*页面内容区-预览区-卡片-卡片body-left-滑动条*/
#pre>.el-card>.el-card__body .vtLeft .el-slider__runway {
    height: 1vh;
    width:100%;
    margin: 0%;
}

/*页面内容区-预览区-卡片-卡片body-left-滑动条-圆形按钮触发框*/
#pre>.el-card>.el-card__body .vtLeft .el-slider__runway .el-slider__button-wrapper {
    height: 2vh;
    width: 2vh;
    top: -1vh;
}

/*页面内容区-预览区-卡片-卡片body-left-滑动条-圆形按钮*/
#pre>.el-card>.el-card__body .vtLeft .el-slider__runway .el-slider__button {
    height: 2vh;
}

/*页面内容区-预览区-卡片-卡片body-left-音频波形区*/
#pre>.el-card>.el-card__body .vtLeft #preAudio>wave {
    height: 32vh !important;
    width: 100% !important;
    overflow: hidden !important;
}

/*页面内容区-预览区-卡片-卡片body-left-图片*/
#pre>.el-card>.el-card__body .vtLeft img {
    height: 37vh;
    width:100%;
}

/*页面内容区-预览区-卡片-卡片body-left-控制区*/
#pre>.el-card>.el-card__body .vtLeft .preContral {
    height: 5vh;
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-top:1vh;
}

/*页面内容区-预览区-卡片-卡片body-left-控制区-输入框*/
#pre>.el-card>.el-card__body .vtLeft .preContral .el-input {
    height: 4vh;
    width:15%;
}

/*页面内容区-预览区-卡片-卡片body-left-控制区-输入区*/
#pre>.el-card>.el-card__body .vtLeft .preContral input {
    height: 4vh;
    width:100%;
    margin: 0%;
    padding: 0%;
}

/*页面内容区-预览区-卡片-卡片body-left-点位信息区*/
#pre>.el-card>.el-card__body .vtLeft .prePointInfo {
    height: 4vh;
    width: 100%;
    border: solid 1px #ebeef5;
    border-radius: 10px;
    font-size: 0;
    overflow: hidden;
}

/*页面内容区-预览区-卡片-卡片body-right*/
#pre>.el-card>.el-card__body .vtRight {
    height: 42vh;
    width: 40%;
    float:right;
    overflow-y:scroll;
    word-wrap:break-word;
}

/*页面内容区-信息区*/
#info {
    width: 40%;
    height: 38vh;
    float: left;
}

/*页面内容区-信息区-头部*/
#info>span {
    height: 8vh;
    position:relative;
    left:40%;
}

/*页面内容区-信息区-卡片*/
#info>.el-card {
    height: 30vh;
    overflow-y:scroll;
    word-wrap:break-word;
}

/*页面内容区-信息区-卡片-body*/
#info>.el-card .el-card__body {
    padding: 1vh 2% 1vh 2%;
}

/*页面内容区-素材区*/
#mat {
    width: 60%;
    height: 38vh;
    float: left;
}

/*页面内容区-素材区-卡片*/
#mat>.el-card {
    height: 100%;
}

/*页面内容区-素材区-卡片-卡片body*/
#mat>.el-card>.el-card__body {
    height: 38vh;
    padding: 1vh 2% 0vh 2%;
}

/*页面内容区-素材区-卡片-卡片body--空表数据页*/
#mat>.el-card>.el-card__body .el-table__empty-block{
    width: 100% !important;
}

/*页面内容区-素材区-卡片-卡片body-表*/
#mat>.el-card>.el-card__body table {
    width: 100% !important;
}

/*页面内容区-素材区-卡片-卡片body-表-列和单元格*/
#mat>.el-card>.el-card__body table th, #mat>.el-card>.el-card__body table td, #mat>.el-card>.el-card__body table .cell{
    padding: 0%;
}

/*页面内容区-素材区-卡片-卡片body-表body-右键菜单*/
#mat>.el-card #matRClickMenu{
    width:10%;
    height:42vh;
    position:fixed;
}


/*页面内容区-素材区-卡片-卡片body-表body-右键菜单-body*/
#mat>.el-card #matRClickMenu>.el-card__body{
    padding:1vh 1% 1vh 1%;
}

/*页面内容区-素材区-卡片-卡片body-表body-右键菜单-body-选项*/
#mat>.el-card #matRClickMenu>.el-card__body>button{
    display: block;
    width: 100%;
    height: 10vh;
    margin-left: 0%;
    padding:0%;
}

/*页面内容区-素材区-卡片-卡片body-表body-右键菜单-标签管理面板*/
#mat>.el-card #matManageTags{
    height:30vh;
    width:50%;
    position:fixed;
}

/*页面内容区-素材区-卡片-卡片body-表body-右键菜单-标签管理面板-编辑*/
#mat>.el-card #matManageTags .matManageTagEdic{
    width:100%;
    height: 23vh;
    overflow-y: scroll;
    overflow-x: visible;
}

/*页面内容区-素材区-卡片-卡片body-表body-右键菜单-标签管理面板-body*/
#mat>.el-card #matManageTags>.el-card__body{
    padding:1vh 1% 1vh 1%;
}

/*页面内容区-素材区-卡片-卡片body-表body-右键菜单-标签管理面板-body-按钮*/
#mat>.el-card #matManageTags>.el-card__body>.matManageTag{
    margin:0%;
    padding:0%;
    width:20%;
    height:5vh;
    float:right;
}

/*设置*/
#setting>button {
    width: 28px;
    height: 28px;
    float: right;
    padding: 0%;

    margin-top: 1vh;
    margin-right: 1%;
}

/* 设置-面板遮罩 */
#setting .el-dialog__wrapper{
    width: 100%;
    height: 100%;
}

/*设置-面板遮罩-面板*/
#setting .el-dialog__wrapper>div {
    width: 80%;
    height: 80vh;
    margin-bottom: 5vh;
    margin-left: 10%;
}

/*设置-面板遮罩-面板-头部*/
#setting .el-dialog__wrapper>div>.el-dialog__header {
    padding: 0vh 2% 0vh 2%;
    height: 4vh;
}

/*设置-面板遮罩-面板-头部-关闭按钮*/
#setting .el-dialog__wrapper>div>.el-dialog__header>button {
    position: relative;
    float: right;

    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

/*设置-面板遮罩-面板-内容区*/
#setting .el-dialog__wrapper>div>.el-dialog__body {
    padding-top: 0%;
    padding-bottom: 0%;
    height: 76vh;
    overflow-y: scroll;
}

/*设置-面板遮罩-面板-内容区-分割线*/
#setting .el-dialog__wrapper>div>.el-dialog__body>.el-divider--horizontal {
    margin: 2vh 0%;
}

/*设置-面板遮罩-面板-内容区-textarea输入框*/
#setting .el-dialog__wrapper>div>.el-dialog__body textarea {
    white-space:nowrap;
}

/*设置-面板遮罩-面板-内容区-行*/
#setting .el-dialog__wrapper>div>.el-dialog__body>.settingSingleRow {
    height: 4vh;
    overflow: hidden;
}

/*设置-面板遮罩-面板-内容区-行-按钮*/
#setting .el-dialog__wrapper>div>.el-dialog__body>.settingSingleRow>button {
    padding: 0%;
    width: 10%;
}

/*设置-面板遮罩-面板-内容区-行-所有一级元素*/
#setting .el-dialog__wrapper>div>.el-dialog__body>.settingSingleRow>* {
    height: 100%;
}