/*窗口*/
body {
    margin: 0px;
    background-color: white;
}

/*app 组件根元素*/
#vt {
    width: 99vw;
    height: 99vh;
    background-color: rgb(255, 250, 245);
    border: solid 1px rgb(248, 204, 146);
}

/*页面头部*/
.vt-header {
    width: 100%;
    height: 10%;
}

/*页面头部卡片*/
.vt-header-card {
    width: 100%;
    height: 80%;
    background-color: rgb(255, 250, 245);
    border-radius: 10px;
}

/*页面头部卡片内容区*/
.el-card__body {
    padding: 0%;
    height: 100%;
}

/*页面头部卡片logo*/
.vt-header-card-logo {
    width: auto;
    height: 100%;
    float: left;
}

/*页面头部卡片项目标题*/
.vt-header-card-title {
    float:left;
    font-size:4vh;
    margin:1vh 0% 0% 40%;
}
/*页面头部卡片项目加载*/
.vt-header-card-load {
    float: left;
    font-size: 2vh;
    margin: 3vh 0% 0% 1%;
    color:rgb(36, 105, 253);
}
/*页面内容区*/
.vt-main {
    width: 100%;
    height: 90%;
}

/*页面内容区导航栏*/
.vt-main-nav {
    width: 100%;
    height: 100%;
}

/*页面内容区导航栏左侧*/
.vt-main-nav>.el-tabs__header.is-left {
    width: 15%;
    border-bottom-width: 0px;
}

/*页面内容区导航栏右侧*/
.vt-main-nav>.el-tabs__content {
    width: 83%;
    height: 100%;
}

/*页面内容区导航栏右侧初始化各组件根元素*/
.vt-main-nav>.el-tabs__content>[role=tabpanel],
.vt-main-nav>.el-tabs__content>[role=tabpanel]>div {
    width: 100%;
    height: 100%;
}

/*页面内容区素材文件列表区*/
.vt-main-metfile-list {
    width: 40%;
    height: 60%;
    float: left;
    border:solid 1px rgb(248, 204, 146);
}

/*页面内容区素材文件预览区*/
.vt-main-metfile-preview {
    width: 59%;
    height: 60%;
    float: left;
    border: solid 1px rgb(248, 204, 146);
}

/*页面内容区素材文件信息区*/
.vt-main-metfile-info {
    width: 40%;
    height: 40%;
    float: left;
    border: solid 1px rgb(248, 204, 146);
}

/*页面内容区素材文件素材区*/
.vt-main-metfile-met {
    width: 59%;
    height: 40%;
    float: left;
    border: solid 1px rgb(248, 204, 146);
}