<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>vt</title>
    <!-- element-ui css -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 自定义css -->
    <link type="text/css" rel="styleSheet" href="./css/vt.css" />
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- adobe cep 桥接 -->
    <script src="./js/adobe/CSInterface.js"></script>
    <!-- vue -->
    <script src="./js/vue/vue.js"></script>
    <script>
        // 关闭生产提示
        Vue.config.productionTip = false
        // 关闭全局右键菜单
        document.oncontextmenu = () => {
            return false
        }
    </script>
    <!-- vuex -->
    <script src="https://unpkg.com/vuex@3.1.0/dist/vuex.js"></script>
    <!-- element-ui -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 音频波形可视化 -->
    <script src="./js/wavesurfer/wavesurfer.js"></script>
    <script>
        // 安装vue插件
        Vue.use(Vuex)
    </script>

</head>

<body>
    <div id="app">
        <vtComponent></vtComponent>
    </div>
</body>

<template id="vt">
    <div v-loading="vtIsLoading" :element-loading-text="vtLoadingText" element-loading-spinner="el-icon-loading"
        element-loading-background="rgba(255, 255, 255, 0.8)">
        <!-- 内容头 -->
        <div id="vt_header">
            <!-- 内容头-卡片 -->
            <el-card class="box-card">
                <!-- 项目logo -->
                <img src="./imgs/header_ico.png">
                <!-- 项目名 -->
                <div>{{vtTitle}}</div>
                <!-- 设置 -->
                <settingComponent></settingComponent>
                <!-- 音乐背景 -->
                <el-button circle>
                    乐景
                </el-button>
                <!-- 重做 -->
                <el-button @click="vtRedoAllTrack" circle>
                    重做
                </el-button>
            </el-card>

        </div>
        <!-- 内容区 -->
        <div id="vtMain">
            <matFileComponent></matFileComponent>
            <preComponent></preComponent>
            <infoComponent></infoComponent>
            <matComponent></matComponent>
        </div>
    </div>
</template>

<!-- 素材文件组件-模板代码 -->
<template id="matFileTemplate">
    <div id="matFile">
        <!-- 素材文件组件-卡片 -->
        <el-card class="box-card">
            <!-- 卡片头 -->
            <div slot="header" class="clearfix">
                <!-- sql筛选下拉框 -->
                <el-select title="sql筛选下拉框" size="mini" @change="matFileSqlMenuChangeEvent"
                    v-model="matFileSqlMenuCurOption" filterable allow-create default-first-option>
                    <el-option v-for="item in matFileSqlMenuOptions" :key="item.label" :label="item.label"
                        :value="item.label">
                    </el-option>
                </el-select>

                <!-- 编辑素材文件筛选sql按钮，编辑面板 -->
                <el-button title="sql编辑按钮" icon="el-icon-edit" @click="matFileSqlEditButtonClick" circle>
                </el-button>
                <el-dialog title="素材文件筛选sql编辑" :visible.sync="matFileHeaderEditDialogVisible">
                    <el-input type="textarea" placeholder="请输入内容" v-model="matFileHeaderEditDialogSqlText"
                        resize="none">
                    </el-input>
                    <span slot="footer">
                        <el-button type="danger" @click="matFileDelSql">删 除
                        </el-button>
                        <el-button type="primary" @click="matFileSaveSql">保
                            存</el-button>
                    </span>
                </el-dialog>
            </div>
            <!-- 卡片body -->
            <div>
                <el-table height="42vh" ref="matFileListRef" :data="matFileTableData" border
                    @row-click="matFileTableCurrentChange" @row-contextmenu="matFileTableRowRClickChange"
                    :show-header="false" highlight-current-row>
                    <el-table-column property="type" width="20%">
                    </el-table-column>
                    <el-table-column property="matFileName" width="60%">
                    </el-table-column>
                    <el-table-column property="durationSecond" width="20%">
                    </el-table-column>
                </el-table>

                <!-- 素材文件右键菜单 -->
                <el-card class="box-card" id="matFileRClickMenu" :style="matFileRClickMenuStyle">
                    <el-button size="medium" @click="matFileManageTags">标签管理</el-button>
                    <el-button size="medium" @click="matFileRename">重命名</el-button>
                    <el-button size="medium" @click="matFileDelMatFile">删除</el-button>
                </el-card>

                <!-- 重命名弹窗 -->
                <el-card class="box-card" id="matFileRename" :style="matFileRenameStyle">
                    <el-input placeholder="请输入新文件名" v-model="matFileRenameText" resize="none">
                    </el-input>
                    <el-button type="danger" @click="matFileRenameCancel">取消</el-button>
                    <el-button type="primary" @click="matFileRenameConfirm">确定</el-button>
                </el-card>


                <!-- 标签管理弹窗弹窗 -->
                <el-card class="box-card" id="matFileManageTags" :style="matFileManageTagsStyle">
                    <div class="matFileManageTagEdic">
                        <el-tag :key="tag" v-for="tag in matFileCurTags" closable :disable-transitions="false"
                            @close="matFileCloseTag(tag)">
                            {{tag}}
                        </el-tag>
                        <el-input class="input-new-tag" v-if="matFileTagInputVisible" v-model="matFileTagInputValue"
                            ref="matFileTagInputRef" size="small" @blur="matFileNewTagConfirm">
                        </el-input>
                        <el-button v-else class="button-new-tag" size="small" @click="matFileTagShowInput">新增
                        </el-button>
                    </div>


                    <el-button class="matFileManageTag" type="danger" @click="matFileManageTagCancel">取消</el-button>
                    <el-button class="matFileManageTag" type="primary" @click="matFileManageTagConfirm">确定</el-button>

                </el-card>
            </div>

        </el-card>
    </div>

</template>


<!-- 预览组件-模板代码 -->
<template id="preTemplate">
    <div id='pre'>
        <el-card class="box-card ">
            <!-- 预览区头 -->
            <div class="vtUp">
                <div style="height:5vh;display: inline-block;overflow: hidden;font-size: x-small;">主轨道</div>
                <el-select size="mini" v-model="preMainTrackValue"
                    style="display:inline-block;width:15%;height:5vh;vertical-align: top;" @focus="preUpdateTraks">
                    <el-option v-for="item in preMainTrackOptions" :key="item" :label="item" :value="item">
                    </el-option>
                </el-select>

                <div style="height:5vh;display: inline-block;overflow: hidden;font-size: x-small;">当前轨道</div>
                <el-select size="mini" v-model="preCurTrackValue"
                    style="display:inline-block;width:15%;height:5vh;vertical-align: top; " @focus="preUpdateTraks">
                    <el-option v-for="item in preCurTrackOptions" :key="item" :label="item" :value="item">
                    </el-option>
                </el-select>
                <el-input v-model="preFreePointSpeed" size="small">
                </el-input>

                <el-button v-if="!preCursorOnTrackMat" type="primary" @click="preSave(false)" :style="preSaveStyle">保存</el-button>
                <el-button v-if="!preCursorOnTrackMat" type="success" @click="preSave(true)">提交</el-button>
                <el-button v-if="preCursorOnTrackMat" type="danger" @click="preDelTrackMat">删除</el-button>

            </div>
            <div class="vtDown" v-if="matFileTableCurrentRow">
                <div class="vtLeft">
                    <!-- 视频 -->
                    <div title="视频" v-if="matFileTableCurrentRow.type == '视频' && matFileInfo" style="font-size: 0;">
                        <!-- url方式 -->
                        <!-- <video ref="preVideoRef" :src="this.$getMatFileUrl(matFileInfo['matfile_full_path'])"></video> -->

                        <video ref="preVideoRef" :src="matFileInfo['matfile_full_path'].replace('\\','/')"></video>
                        <el-slider v-model="preVideoSliderValueCompute" :step="0.001" :show-tooltip="false"></el-slider>
                    </div>
                    <!-- 音频 -->
                    <div title="音频" v-if="matFileTableCurrentRow.type == '音频'">
                        <div id="preAudio"></div>
                    </div>
                    <!-- 图片 -->
                    <div title="图片" v-if="matFileTableCurrentRow.type == '图片' && matFileInfo">
                        <!-- url方式 -->
                        <!-- <img :src="this.$getMatFileUrl(matFileInfo['matfile_full_path'])" /> -->

                        <img :src="matFileInfo['matfile_full_path'].replace('\\','/')" />
                        <el-input v-model="preImgPointValue" resize="none">
                        </el-input>
                        <el-button type="success" @click="preImgGeneratePoint">生成点位</el-button>
                    </div>
                    <div class="preContral"
                        v-if="matFileTableCurrentRow.type == '视频' || matFileTableCurrentRow.type == '音频'">
                        <el-button icon="el-icon-d-arrow-left" @click="preTimeLeft" style="float:left" circle>
                        </el-button>
                        <el-input v-model="preTimeLeftValue" resize="none">
                        </el-input>
                        <!-- 播放速度 -->
                        <el-input v-model="prePlaySpeedValue" resize="none">
                        </el-input>
                        <el-button :icon="prePlayIco" @click="prePlay" style="vertical-align: top;" circle></el-button>
                        <!-- 进度条值 -->
                        <el-input v-model="prePlayScheduleValue" @change="preScheduleValueChange" resize="none" >
                        </el-input>
                        <el-input v-model="preTimeRightValue" resize="none">
                        </el-input>
                        <el-button icon="el-icon-d-arrow-right" @click="preTimeRight" style="float:right" circle>
                        </el-button>
                    </div>
                    <div class="prePointInfo">
                        <el-tooltip v-for="(item,index) in preMatMatchPointIsFinish" :key="index" :content="prePointInfoTips(index)" placement="bottom" effect="light">
                            <el-button icon="el-icon-timer"  :type="item" circle>
                            </el-button>
                        </el-tooltip>
                        
                    </div>
                </div>
                <div class="vtRight" ref="vtRightScrollRef">
                    <el-tag style="display: block;" :key="index" v-for="(item,index) in prePointedListSorted" :type="item.type" closable :disable-transitions="false"
                        @close="preDelPoint(item)"
                        @click="preScheduleValueChange(item.pointSecond)">
                        {{item.pointSecond}}
                    </el-tag>
                </div>
            </div>
        </el-card>
    </div>
</template>

<!-- 信息组件-模板代码 -->
<template id="infoTemplate">
    <div id='info'>
        <span>{{infoType}}</span>
        <el-card class="box-card">
            <div v-if="infoType=='素材文件' && matFileInfo">
                <div><span style="color:rgb(51, 51, 255)">id:</span>{{matFileInfo.matfile_id}}</div>
                <div><span style="color:rgb(51, 51, 255)">路径:</span>{{matFileInfo.matfile_full_path}}</div>
                <div><span style="color:rgb(51, 51, 255)">大小(kb):</span>{{matFileInfo.size_kb}}</div>
                <div><span style="color:rgb(51, 51, 255)">创建时间:</span>{{matFileInfo.create_time}}</div>
                <div><span style="color:rgb(51, 51, 255)">标签:</span>{{matFileInfo.tags}}</div>
            </div>
            <div v-if="infoType=='素材' && matInfo">
                <div><span style="color:rgb(51, 51, 255)">id:</span>{{matInfo.mat_id}}</div>
                <div><span style="color:rgb(51, 51, 255)">点位信息:</span>{{matInfo.point_info}}</div>
                <div><span style="color:rgb(51, 51, 255)">创建时间:</span>{{matInfo.create_time}}</div>
                <div><span style="color:rgb(51, 51, 255)">标签:</span>{{matInfo.tags}}</div>
            </div>

        </el-card>
    </div>
</template>

<!-- 素材组件-模板代码 -->
<template id="matTemplate">
    <div id='mat'>
        <el-card class="box-card ">
            <el-table height="38vh" ref="matListRef" :data="matTableDataSorted" border @row-click="matTableCurrentChange"
                @row-contextmenu="matTableRowRClickChange" :show-header="true" highlight-current-row>
                <el-table-column label="开始时间" property="startTime">
                </el-table-column>
                <el-table-column label="时长(s)" property="durationSecond">
                </el-table-column>
                <el-table-column label="卡点数" property="pointNum">
                </el-table-column>
            </el-table>

            <!-- 素材右键菜单 -->
            <el-card class="box-card" id="matRClickMenu" :style="matRClickMenuStyle">
                <el-button size="medium" @click="matManageTags">标签管理</el-button>
                <el-button size="medium" @click="matBatchCommit">批量提交</el-button>
                <el-button size="medium" @click="matDelMat">删除</el-button>
                <el-button size="medium" @click="matDelAll">全部删除</el-button>
            </el-card>


            <!-- 标签管理弹窗弹窗 -->
            <el-card class="box-card" id="matManageTags" :style="matManageTagsStyle">
                <div class="matManageTagEdic">
                    <el-tag :key="tag" v-for="tag in matCurTags" closable :disable-transitions="false"
                        @close="matCloseTag(tag)">
                        {{tag}}
                    </el-tag>
                    <el-input class="input-new-tag" v-if="matTagInputVisible" v-model="matTagInputValue"
                        ref="matTagInputRef" size="small" @blur="matNewTagConfirm">
                    </el-input>
                    <el-button v-else class="button-new-tag" size="small" @click="matTagShowInput">新增
                    </el-button>
                </div>


                <el-button class="matManageTag" type="danger" @click="matManageTagCancel">取消</el-button>
                <el-button class="matManageTag" type="primary" @click="matManageTagConfirm">确定</el-button>

            </el-card>
        </el-card>
    </div>
</template>

<!-- 设置组件-模板代码 -->
<template id="settingTemplate">
    <div id="setting">
        <el-button icon="el-icon-setting" @click="settingDialogVisible = true" circle>
        </el-button>
        <el-dialog title="设置面板" :visible.sync="settingDialogVisible">
            <el-divider content-position='center'>常规操作</el-divider>
            <div class="settingSingleRow" style="display:inline-block;width:20%;text-align:center;">
                <label>素材文件目录:</label>
            </div>
            <el-input type="textarea" resize="none" placeholder="请输入内容" :rows="settingMatFilePath.split('\n').length"
                v-model="settingMatFilePath" @change="settingChangeSettingValue('settingMatFilePath')"
                style="display:inline-block;width:75%; ">
            </el-input>

            <div class="settingSingleRow" style="display:inline-block;width:20%;text-align:center;">
                <label>mogrt目录:</label>
            </div>
            <el-input type="textarea" resize="none" placeholder="请输入内容" :rows="settingMogrtPath.split('\n').length"
                v-model="settingMogrtPath" @change="settingChangeSettingValue('settingMogrtPath')"
                style="display:inline-block;width:75%; ">
            </el-input>


            <el-divider content-position='center'>卡点</el-divider>
            <div class="settingSingleRow" style="display:inline-block;width:20%;text-align:center;">
                <label>入点快捷键:</label>
            </div>
            <el-input type="textarea" resize="none" placeholder="请输入内容" :rows="settingInPointHotKey.split('\n').length"
                v-model="settingInPointHotKey" @change="settingChangeSettingValue('settingInPointHotKey')"
                style="display:inline-block;width:75%; ">
            </el-input>
            <div class="settingSingleRow" style="display:inline-block;width:20%;text-align:center;">
                <label>出点快捷键:</label>
            </div>
            <el-input type="textarea" resize="none" placeholder="请输入内容" :rows="settingOutPointHotKey.split('\n').length"
                v-model="settingOutPointHotKey" @change="settingChangeSettingValue('settingOutPointHotKey')"
                style="display:inline-block;width:75%; ">
            </el-input>


        </el-dialog>
    </div>
</template>
<!-- 自定义工具 -->
<script src="./js/src/tools.js"></script>
<!-- 自定义vue组件 -->
<script src="./js/src/components.js"></script>
<!-- 注册vuex插件 -->
<script src="./js/src/store.js"></script>
<!-- app组件 -->
<script src="./js/src/app.js"></script>

</html>